{% extends "base.html" %}
{% block tittle %}Inicio{% endblock %}
{% block contenido %}
<section class="tm-welcome">
  <div class="tm-welcome-left">
    <div class="tm-logo">
      <a href="/juegos"><img src="../static/img/msx.png" alt="msx" width="252" height="112"></a>
    </div>
    <div class="tm-welcome-content">
      <div class="tm-welcome-icons-container">
        <i class="fas fa-crown fa-5x tm-welcome-icon"></i>
        <i class="fas fa-heart fa-5x tm-welcome-icon"></i>
      </div>
      <h2 class="tm-mb-25">PÁGINA DE INICIO</h2>
      <p class="tm-font-big"> Haz clic en el logo de MSX para ir a la página <strong>"Juegos"</strong></strong></p>
    </div>
  </div>
  <div class="tm-welcome-right"></div>
</section>
{% endblock %}